{% extends "base.html.twig" %}

{% block title %} Accueil {% endblock %}

{% block body %}
	<div class="textAlign_center">Bienvenue sur l'accueil</div>
	<div class="textAlign_center">Venez découvrir tous nos films</div>
{% endblock %}